body {
  text-align: center;
}

header {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.logo {
  height: 50px;
  width: 50px;
}

h1 {
  font-size: 50px;
  margin-bottom: 20px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 15px;
}

#canvasContainer {
  display: flex;
  justify-content: center;
}

.chartjs-render-monitor {
  max-height: 700px;
  max-width: 900px;
}

#productContainer {
  display: flex;
  justify-content: center;
}

.product {
  height: 200px;
  width: 200px;
  padding: 10px;
}

